*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-font: Raleway, sans-serif;
  --accent-font: 'STIX Two Text', serif;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.page {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;

  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, sans-serif);
}

.page.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

.content-section {
  padding-inline: 5vi;
}

.header {
  padding-block-start: 10vi;
}

.heading {
  font-family: var(--accent-font);
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
}

.header-title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px;
}

.content__title {
  font-size: 30px;
  margin-block-start: 7vi;
  margin-block-end: 2.5vi;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block > .content__paragraph:not(:last-of-type),
.content__text-block > .content__blockquote {
  margin-block-end: 1.5em;
}

.content__paragraph > a {
  color: inherit;
}

.content__blockquote {
  inline-size: 75%;
  margin-inline: auto;
  font-style: italic;
  line-height: 2;
}
