*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-font: Raleway, sans-serif;
  --accent-font: 'STIX Two Text', serif;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.page {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;

  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, sans-serif);
}

.page.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

.heading {
  font-family: var(--accent-font);
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
}

.content-section {
  --inline-padding: 5vi;

  padding-inline-start: var(--inline-padding);
  padding-inline-end: var(--inline-padding);
}
