*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-font: 'Raleway', sans-serif;
  --accent-font: 'STIX Two Text', serif;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

/*#region Страница */

.page {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --list-marker: url(/images/marker-light.svg);

  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #f3efec);
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, sans-serif);
}

.page.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
  --list-marker: url(/images/marker-dark.svg);
}

/*#endregion */

/*#region Шапка */

.header {
  padding-block-start: 10vi;
}

.heading {
  font-family: var(--accent-font);
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
}

.header-title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px;
}

/*#endregion */

/*#region Контент */

.content-section {
  padding-inline: 5vi;
}

.content__title {
  font-size: 30px;
  margin-block-start: 7vi;
  margin-block-end: 2.5vi;
}

.content__text-block {
  font-size: 18px;
}

/*#region Абзацы и цитата */

.content__blockquote {
  inline-size: 75%;
  margin-inline: auto;
  font-style: italic;
  line-height: 2;
}

.content__text-block > .content__paragraph:not(:last-of-type),
.content__text-block > .content__blockquote {
  margin-block-end: 1.5em;
}

.content__paragraph > a {
  color: inherit;
}

/*#endregion */

/*#region Список */

.content__list {
  padding-inline-start: 40px;
  list-style-type: none;
}

.content__list > li {
  position: relative;
}

.content__list > li::before {
  --size: 15px;

  content: '';
  position: absolute;
  top: calc((100% - var(--size)) / 2);
  left: -25px;
  background-image: var(--list-marker);
  background-position: center;
  background-repeat: no-repeat;
  inline-size: var(--size);
  block-size: var(--size);
}

.content__list > li:not(:last-of-type) {
  margin-block-end: 10px;
}

/*#endregion */

/*#endregion */
